node_modules/
package-lock.json
.DS_Store
*.log
.env
data.json

# Backend
backend/uploads/
backend/logs/
backend/dist/

# Frontend
frontend/dist/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
*.egg-info/
.pytest_cache/
